// RESPONSIVE BREAKPOINTS
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px
$bp-small: 40.625em; // 650px;

// COLOR VARIABLES
$color-primary: #ffffff;
$color-border: #00aaba;

// Шрифт: Roboto, начертания 400, 700 и 900.
// FONT VARIABLES
$font-primary: "Roboto", sans-serif;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

html {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  // @media only screen and (max-width: $bp-largest) {
  //   font-size: 50%;
  // }
}

body {
  color: $color-primary;
  line-height: 1.5;
}

.bg {
  background: #000 url("../img/bg.jpg") no-repeat top center/cover;
  background-attachment: scroll;
  background-attachment: fixed;
}

.container {
  max-width: 120rem;

  margin: 0 auto;
}
.border {
  border: 0.7rem solid $color-border;
  box-sizing: border-box;
}

.col {
  max-width: 105rem;

  margin: 4rem auto;
}

.main {
  // @media only screen and (min-width: 100rem) {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: repeat(6, 1fr);
  // }
  // @media only screen and (min-width: 105rem) {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: repeat(4, 1fr);
  //   grid-gap: 2rem;
  // }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}
